/target/
/Handy/
.idea
.claude/
/.codegraph/
/config/
Handy
release
test.pcm
tmp.wav
/.worktrees/
/node_modules/
/crates/desktop/dist/
fanjian
/fanjian/
DeepFilterNet
mezon-noise-suppression
DeepFilterNet3-VST3
.superpowers/
temp/
mangofetch
omniget
EcoPaste
ortu
wl-clipboard-rs
xcap
package.json
/.crush/
/debug_frames/
/.zcode/
